<mat-card class="mat-elevation-z4" fxFlex fxFlexAlign="stretch">
  <mat-card-header class="productName" fxLayout="row" fxLayoutAlign="space-between center" >
    <mat-card-title fxLayoutAlign="start center" style="font-size: 16px !important;">{{ product.brandName }}</mat-card-title>
    <button mat-button  fxLayoutAlign="center center" style="font-size: 12px;padding: 0px;">{{product.averageRating}}<mat-icon class="no-margin-no-padding" style="font-size: 16px;">star</mat-icon></button>
  </mat-card-header>

  <div class="imgDiv">
    <img
      [ngSrc]="product.imageUrl"
      height="200"
      width="200"
      priority
      alt="image not found"
    />
  </div>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="productPrice" fxFlex>{{ product.price | currency }}</p>
      <p class="fewItemLeft" *ngIf="(product.availableStock - product.inCart) <= 5" fxFlex>Only few left</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <ng-container *ngIf="product?.promotions.length > 0">
        <p *ngFor="let promotion of product?.promotions; let i = index"><span [ngClass]="promotion.toLowerCase().includes('offer') ? 'offerLabel' : ''">{{promotion}}</span> &nbsp;</p>
      </ng-container>
    </div>
  
    <p class="productDescription">{{ product.productDescription }}</p>
  </mat-card-content>
  <mat-card-actions fxFlex fxFlexAlign="center end">
    <ng-container *ngIf="product.inCart; else showAddToCardUI">
      <div fxLayout="row" fxFlex fxLayoutAlign="space-around center">
       
        <button
          color="primary"
          [hidden]="!product.inCart || product.inCart === 0"
          mat-mini-fab
          (click)="addOrRemoveFromCart(product.productId, false)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <span [hidden]="product.inCart === 0">{{ product.inCart }}</span>

        <button
        [disabled]="product.inCart === product.availableStock"
          color="primary"
          mat-mini-fab
          (click)="addOrRemoveFromCart(product.productId, true)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-container>

    <ng-template #showAddToCardUI>
      <div fxLayout="row" fxFlex fxLayoutAlign="center center">
        <button
          mat-stroked-button
          color="primary"
          (click)="addOrRemoveFromCart(product.productId, true)"
        >
          <mat-icon>add_shopping_cart</mat-icon> Add to cart
        </button>
      </div>
    </ng-template>

  </mat-card-actions>
  <ng-container>
    <div fxLayout="row" fxFlex fxLayoutAlign="start center">
      <mat-checkbox [disabled]="getDisabled(product)" [checked]="checkForSelect()" class="example-margin" (change)="checkUncheckAddToCompare($event)">Add to Compare</mat-checkbox>
    </div>
  </ng-container>
</mat-card>
