<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="img-td">
        <div class="imgDiv">
          <img
            [ngSrc]="product.imageUrl"
            height="200"
            width="200"
            priority
            alt="image not found"
          />
        </div>
        <!-- <img
          [src]="product.imageUrl"
          alt="{{ product.brandName }}"
          class="table-product-image"
        /> -->
      </td>
      <td>{{ product.brandName }}</td>
      <td>{{ product.productDescription }}</td>
      <td>
        <span class="priceText">{{ product.price | currency }}</span><br/>
        <button mat-button  style="font-size: 12px;right: 10px;">{{product.averageRating}}<mat-icon class="no-margin-no-padding" style="font-size: 16px;">star</mat-icon></button>
        <ng-container *ngIf="product?.promotions.length > 0">
          <p *ngFor="let promotion of product?.promotions; let i = index"><span [ngClass]="promotion.toLowerCase().includes('offer') ? 'offerLabel' : ''">{{promotion}}</span> &nbsp;</p>
        </ng-container>
        <p class="fewItemLeft" [hidden]="(product.availableStock - product.inCart) >= 5" fxFlex>Only few left</p>
      </td>
      <td>
        <ng-container *ngIf="product.inCart; else showAddToCardUI">
          <div class="addRemoveButtonDiv">
            <button
              color="primary"
              [hidden]="!product.inCart || product.inCart === 0"
              mat-mini-fab
              (click)="addOrRemoveFromCart(product.productId, false)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <span [hidden]="product.inCart === 0">{{ product.inCart }}</span>

            <button
              [disabled]="product.inCart === product.availableStock"
              color="primary"
              mat-mini-fab
              (click)="addOrRemoveFromCart(product.productId, true)"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </ng-container>

        <ng-template #showAddToCardUI>
          <div>
            <button
              mat-stroked-button
              color="primary"
              (click)="addOrRemoveFromCart(product.productId, true)"
            >
              <mat-icon>add</mat-icon> Add to cart
            </button>
          </div>
        </ng-template>

        <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="16px" style="padding-top: 16px;">
          <mat-checkbox  [checked]="checkForSelect(product)" class="example-margin" (change)="checkUncheckAddToCompare($event, product)">Add to Compare</mat-checkbox>
        </div>
      </td>
    </tr>
  </tbody>
</table>
